

    #header-background {
        text-align: center;
        font-size: 60px;
        font-weight:bolder;
        background:url(https://image.shutterstock.com/image-illustration/website-header-banner-design-abstract-260nw-1621024345.jpg)
    }



 #firstp{
     font-size: large;
     font-weight: bold;
     font-style:italic;
     
     
}

.p1 {
    font-family: 'Kalam', cursive;
}

span {
    background-color: darkturquoise;
}


.first-span {
    background-color: darkturquoise;
}

.second-span {
    background-color: darkturquoise;
}
.third-span {
    background-color: darkturquoise;
}

.forth-span {
    background-color: darkturquoise;
}






 nav ul li {
      
 
    display: inline;
    margin: 100px;
    

    
 }



 nav ul li a { 
     text-decoration: none;
     color: rgb(10, 57, 151);
     
 }
 

 
 main ol li {
     list-style: decimal;
     font-family: 'Special Elite', cursive;
     
    
    }


 body{
     background-color: rgb(114, 181, 212);
 }
     
 .fifth-span {
     background-color: brown;
     
     }

     
 
 
#top {
     text-align: center;
 }


 .sixth-span {
     background-color: darkturquoise;
 }
 
footer{
 background-color: rgb(180, 128, 138);
display: inline-block;
}